@import url("https://use.typekit.net/nwc5uay.css");
*{
  padding: 0;
  box-sizing: border-box;
}
canvas{
  display: inline;
  width: 727px;
  height:504px;
  /* width: 100%;
  height: 100%; */
}

body {
  margin: 0;
  color:white;
  background-color: #00062E;
}

.header{
  display: flex;
  column-gap: 40px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

#three-canvas-container{
  border-radius: 24px;
}